[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = "*"
pydantic = "*"
magika = "*"
requests = "*"
coverage = "*"
tabulate = "*"
langchain-text-splitters = "*"
langchain = "*"
langchain-core = "*"
lxml = "*"
pymupdf = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
